body {
  margin: 40px;
}

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 2px;
  padding: 2px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(20, 20px);
  grid-auto-flow: column;
}